<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="commonConfig" class="com.hx.hawkeye.server.config.CommonConfig">
        <property name="natureTable" value="${nature.conf.table}"></property>
        <property name="sid" value="${nature.conf.sid}"></property>
        <property name="includesOrNum" value="${condition.includes.or.num}"></property>
        <property name="includesAndNum" value="${condition.includes.and.num}"></property>
        <property name="excludesOrNum" value="${condition.excludes.or.num}"></property>
        <property name="excludesAndNum" value="${condition.excludes.and.num}"></property>
        <property name="taskQueryMaxNum" value="${task.query.max.num}"></property>
    </bean>
</beans>